.app {
  color: red;
  font-family: Roboto, sans-serif;
  width: 100vw;
}

/*button span {
  color: white;
}*/

.muidocs-icon-navigation-expand-more button {
  color: white;
}

.REDit-icon {
  color: white;
}

.header-icon {
  color: white;
}
